# Projet requirements

# Bibliothèque pour l'interface graphique
PySide6==6.2.2

# Bibliothèque pour les calculs numériques
numpy==1.22.2

# Bibliothèque pour les tests unitaires
pytest

# Bibliothèque pour le débogage simplifié
icecream

pytest-qt

#enviroenemtn python
virtualenv

imageio[ffmpeg]

